
    <form class="w-50 m-auto my-5">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email">
    <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button id="newAccount" type="submit" class="btn btn-primary">Click to log in</button>
  <button id="logGoogle" type="submit" class="btn btn-primary"><a href="/api/sessions/google">Log in with google</a></button>
</form>
<script src="/login.js"></script>
